---
import Button from "../components/atoms/Button.astro";
import Container from "../components/atoms/Container.astro";
import AboutCrest from "../components/sections/AboutCrest.astro";
import Project from "../components/sections/Project.astro";
import { PROJECTS } from "../consts";
import Layout from "../layouts/index.astro";
---

<Layout title="Projects" headerBg="dark:bg-[#0C0C0C] bg-white">
  <section class="dark:bg-[#0C0C0C] relative bg-white overflow-x-clip">
    <div class="bg-white/40 dark:bg-[#0C0C0C]/20">
      <Container>
        <div class="hero flex justify-center items-center w-full">
          <div class="w-full py-64 max-md:pt-28 max-md:pb-36 bg-page/90 relative z-10">
            <div>
              <div class="text-center mt-20 font-gotham">
                <h1 class="sm:text-7xl text-4xl font-bold text-[#141414] dark:text-white">Our Projects</h1>
                <div class="flex overflow-x-scroll justify-center mt-16 no-scrollbar max-md:hidden">
                  {
                    PROJECTS.slice(0, 5).map((project, index) => (
                      <a href={`#PROJECTS_${project.title}_${index}`} class="flex-[1.2] even:flex-1">
                        <img
                          src={project.thumbnail}
                          alt={`Cr3st digital agency project ${project.title} thumbnail`}
                          class="w-full"
                        />
                      </a>
                    ))
                  }
                </div>
                <div class="flex overflow-x-scroll justify-center mt-16 no-scrollbar max-sm:hidden md:hidden">
                  {
                    PROJECTS.slice(0, 3).map((project, index) => (
                      <a href={`#PROJECTS_${project.title}_${index}`} class="flex-[1.2] even:flex-1">
                        <img
                          src={project.thumbnail}
                          alt={`Cr3st digital agency project ${project.title} thumbnail`}
                          class="w-full"
                        />
                      </a>
                    ))
                  }
                </div>
                <div class="flex overflow-x-scroll justify-center mt-16 no-scrollbar sm:hidden">
                  {
                    PROJECTS.slice(0, 2).map((project, index) => (
                      <a href={`#PROJECTS_${project.title}_${index}`} class="flex-[1.2] even:flex-1">
                        <img
                          src={project.thumbnail}
                          alt={`Cr3st digital agency project ${project.title} thumbnail`}
                          class="w-full"
                        />
                      </a>
                    ))
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </Container>
    </div>
  </section>
  {PROJECTS.map((project, index) => <Project id={`PROJECTS_${project.title}_${index}`} {...project} />)}
  <!-- <Project  /> -->
</Layout>

<style>
  .hero::before {
    content: "";
    z-index: 0;
    right: -200px;
    position: absolute;
    width: 461px;
    height: 448px;
    background: conic-gradient(
      from 180deg at 50% 50%,
      #ff44ec -100.22deg,
      #ffbc7b 55.35deg,
      #2a04e5 190.89deg,
      #ff44ec 259.78deg,
      #ffbc7b 415.35deg
    );
    filter: blur(110px);
  }
</style>
