---
import FormattedDate from "./FormattedDate.astro";

type Props = {
  image: string;
  title: string;
  link: string;
  date: string | Date;
  primaryTags: string;
};

const { image, title, link, date, primaryTags } = Astro.props;
---

<a href={link} class="flex flex-col w-full">
  <img src={image} alt={title} class="w-full rounded-lg" />

  <div class="mt-4 mb-3 flex dark:text-light-400 text-dark-500 text-sm font-medium items-center">
    <p class="capitalize">{primaryTags}</p>
    <div class="h-1 w-1 dark:bg-light-400 bg-dark-500 mx-2 rounded-full"></div>
    <FormattedDate date={date} />
  </div>

  <h3 class="text-xl font-medium font-gotham dark:text-light-400 text-dark-500 w-full">{title}</h3>
</a>

<style></style>
